---
layout: ""
page_title: "Provider: Airtable"
description: |-
  The Airtable provider provides resources to interact with a Airtable API.
---

# Airtable Provider

The Airtable provider provides resources to interact with the Airtable API.

## Example Usage

{{tffile "examples/data-sources/airtable_table/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}
